.cover{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    top:0;;
    left:0;
    z-index: 1000;
    display: none;
  }
  .cover svg{
    position: absolute;
    top:50%;
    width:50px;
    height: 50px;
    margin-top:-25px;
    left:50%;
    margin-left:-25px;
  }
  .parallax {
      /* The image used */
      background-image: url("./media/header1.jpg");
    
      /* Set a specific height */
      min-height: 300px;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;   
      /*   */
  }
   
  /* Centered text */
  .centered {
      /*position: absolute;*/
      position: relative;
     /*top: 50%;
      left: 50%;*/
      transform: translate(-50%, -50%);
  }
