*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
      /* or absolute if the user needs to scroll for more content */
    padding: 1rem 2rem;
}
.active{
    display: block; 
}
h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
}